<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="bienvenido"></ion-back-button>
    </ion-buttons>
    <ion-icon style="margin-left: 170px;" id="boton" menuToggle (click)="openFirst()" size="large" name="person-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="background-color: #fce997 !important;" lines="none">
    <div style="text-align: center; color: rgb(185, 74, 30)"><h1>Comentarios</h1></div>
    <div *ngFor="let comentarios of TotalComentarios;">
      <ion-item>
        <ion-text class="comment">
          <div class="comment-name">{{comentarios.name}}</div>
          <div class="comment-body">{{comentarios.body}}</div>
        </ion-text>
      </ion-item>
    </div>
  </ion-list>

</ion-content>