<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <div style="display: flex; justify-content: center;">
        <img style="width: 80%;" src="../assets/icon/Duoc.png" alt="">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  

  <i-div class="tarjeta" >
    <ion-grid fixed>
      <i-row>

        <ion-col size="12">
          <img src="../assets/icon/usuario.png" alt="" style="float: left; width: 20px; margin-top: 18%;">
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" placeholder="Digite su usuario"></ion-input>
          </ion-item>
        </ion-col>
      
        <ion-col size="12">
          <img src="../assets/icon/llave.png" alt="" style="float: left; width: 20px; margin-top: 18%;">
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" placeholder="Digite su contraseña"></ion-input>
          </ion-item>
        </ion-col>


        <ion-col size="12">
          <ion-text  style="text-align: center;">
            <h5 style="font-size: small;">¿Cambiar contraseña?</h5>
          </ion-text>
          <ion-button ion-button (click)="showToast()" expand="block" fill="solid" shape="round">
            Recuperar
          </ion-button>
        </ion-col>
      
        <ion-col size="12">
          <hr>
          <ion-button expand="block" size="small" fill="solid" shape="round">
            Ingresar
          </ion-button>
        </ion-col>
        

        

        

        

      </i-row>
    </ion-grid>
  </i-div>

  
  
</ion-content>

